---
layout: page
headtouse: head
title: Home
---

<h1>Operation Dicestorm <span style="font-size: 20px">(<a href="/dicestorm/about">?</a>)</span></h1>
<div class="update">

	<div id="update-proj">
		<h2>Latest Ruleset:</h2>
		<ul>
			<li><a href="/game/units/">v{{site.rule_version}} ruleset</a> | 2018/06/01 </li>
		</ul>
	</div>
	<div id="update-post">
		<h2>Latest posts</h2>
		<ul>
			<li><a href="/essays/overpowered.html">overpowered</a></li>
			<li><a href="/essays/toys.html">toys -> games</a></li>
			<li><a href="/essays/antifun.html">make it fun to face too</a></li>
		</ul>
	</div>
	<p>Stay in touch: <a href="/updates">sign up for our newsletter</a></p>
</div>