@font-face {
    font-family: 'Kontra'; /*a name to be used later*/
    src: url('/res/font/kontrapunkt/KontrapunktBold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Kontra Light'; /*a name to be used later*/
    src: url('/res/font/kontrapunkt/KontrapunktLight.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Kontra Italic'; /*a name to be used later*/
    src: url('/res/font/kontrapunkt/KontrapunktLightItalic.otf'); /*URL to font*/
}

/* Waitlist stuff */
#waitlist-signup {
	position: relative;
	margin: 30% auto;
	width: 50%;
	height: 100px;
}

#waitlist-signup button {
	font-family:	"FiraSans";
	color: 			#fefefe;
	font-size: 		24px;
	padding: 		50px;
	border-radius:	5px;
	border: 3px solid white;
	box-shadow: none;
	background-color: #000000;
}

button span {
	font-size: 	16px;
	color: 		#ddd;
}