<div id="logoContainer">
  <a href="/">
    <div id="homeLogo">D</div>
  </a>
  <div class="fb-like social-element" data-href="https://www.facebook.com/dicestorm" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
<div class="container">
  <div class="content">
    <div class="header">
      <div class="nav">
        <ul>
          <a href="/game"><li class="nav-portfolio">Gameplay</li></a>
          <a href="/blog"><li class="nav-essays">Blog</li></a>
          <a href="/about"><li class="nav-about">About</li></a>
          <a href="/updates"><li class="nav-updates">Newsletter</li></a>
        </ul>
      </div>
    </div>

