<div class="unit-card-outer">
	<div class="unit-card">
		<div class="unit-top-bar">
		<div class="hexagon">
			<div class="hexTop"></div>
			<div class="hexBottom"></div>
			<div class="unit-icon {{ include.data.unit }}"></div>
		</div>
		<div class="unit-basics">
			<div class="unit-class">{{ include.data.class }}</div>
			<div class="unit-name">
				{% if include.data.class contains 'Titan' %}
				<span class="titan">{{ include.data.name }}</span>
				{% else %}
				{{ include.data.name }}
				{% endif %}
			</div>
			{% for stat in include.data.stats %}
			<div class="unit-basics-stats">
			{% if stat.move %}
				Move: {{ stat.move }}
			{% endif %}
			{% if stat.bombard %}
				Bombard: {{ stat.bombard }}
			{% endif %}
			{% if stat.souls %}
				Souls: {{ stat.souls }} 💀
			{% endif %}
			{% if stat.special %}
				{{ stat.special }}
			{% endif %}
			
			</div>
			{% endfor %}
		</div>
		</div>
		<div class="unit-abilities">
			{% for ability in include.data.abilities %}
			<div class="unit-ability">
				<div class="ability-header">
					<h3 class="{{ ability.class }}">{{ ability.name }}</h3>
					<h3 class="{{ ability.class }} type">
					{% case ability.class %}
						{% when "active" %}
							[Active]
						{% when "passive" %}
							[Passive]
						{% when "range" %}
							[Bombard]
						{% else %}
					{% endcase %}
					</h3>
					<div style="clear:both"></div>
				</div>
				{{ ability.text }}
			</div>
			{% endfor %}
			{% if include.data.artifact %}
			<div class="artifact">
				<div class="ability-header">
					<h3 class="active">{{ include.data.artifact.name }}</h3>
					<h3 class="active type">[Stats]</h3>
					<div style="clear:both"></div>
				</div>
				{{ include.data.artifact.stats }}<br>
				{% for ability in include.data.artifact.abilities %}
				<span class="{{ ability.class }} ability">{{ ability.name }}
					{% case ability.class %}
						{% when "active" %}
							[Active]
						{% else %}
					{% endcase %}
					</span> - 
				{{ ability.text }} <br>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<div class="unit-bottom-bar">
			"{{ include.data.flavor }}"
		</div>
	</div>
</div>
