---
layout: page
headtouse: head
title: Get updates
---

<h1>Stay in touch!</h1>
<div id="mailing-list">
	<iframe class="airtable-embed" src="https://airtable.com/embed/appjSh67qDFQd0WsX/pagvK4k8Fn3a7a4PG/form" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc; border-radius: 15px;"></iframe>	
<p style="font-size: 18px"><span style="color:#777;">{{ site.subscribers }}</span> folks have signed up for updates</p>
</div>