---
layout: page
---
<head>
	{% include blogheadcontent.html %}
</head>
<body>
{% capture time %}
	{{ page.content | number_of_words | plus: 100 | divided_by: 180 }}
{% endcapture %}

<div class="inner-content">
	<div class="essay-map">dicestorm > {{ page.folder }} > {{ page.title }}</div>
	<div class="essay-map">Last Updated: <span class="essay-data">{{ page.update }}</span></div>
	<div class="essay-data"> {{ time }} minute read</div>
	{{ content }}
	<div id="disqus_thread" style="margin-top: 30px"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'kohome'; // required: replace example with your forum shortname
	    var disqus_title = '{{title}}';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
