---
layout: unitcard
title: Units
---
	<h1>OPERATION DICESTORM: </h1>
	<a href="../rules.html">General Rules</a></h1>
	<p id="versioncode">v{{site.rule_version}}</p>
	<div id="printable">Make Printable</div>
	<div class="faction-bloc">
		<h1>Orbotron Units</h1>
		{% include unittemplate.html data=site.data.orbotron %}
		{% include unittemplate.html data=site.data.vanguard %}
		{% include unittemplate.html data=site.data.sentinel %}
		{% include unittemplate.html data=site.data.warpcore %}
		{% include unittemplate.html data=site.data.zegatron %}
		<div class="unit-card-outer">
			<div class="unit-card">
				<div class="unit-top-bar" style="height:250px;">
				<div class="unit-basics">
					<div class="unit-class">Orbotron Faction</div>
					<div class="unit-name">Orbotron Notes</div>
					<div class="unit-basics-stats">[not a unit]</div>
				</div>
				</div>
				<div class="faction-strats">
					<div class="unit-ability">
						<div class="ability-header">
							<h3 class="passive">Synergy and Precision</h3>
							<div style="clear:both"></div>
						</div>
						The Orbotrons are a synergestic and surgical faction. They are far more powerful together than individually, and shine in bombardment.
					</div>
					<div class="unit-ability">
						<div class="ability-header">
							<h3 class="passive">Strategy</h3>
							<div style="clear:both"></div>
						</div>
						<li>Orbotron units perform exponentially better when they are supported. Try to keep your units within reach of each other</li>
						<li>Different pairs of units (including two of the same) showcase strengths in different ways. Try to identify the strengths of your opponent's composition and optimize to counter it</li>
						<li><span class="ally unit">Vanguards</span> and <span class="ally unit">Sentinels</span> provide growing value each round they stay alive. Decisive aggressive tactics can be strong, but avoid too many risks with these units</li>
						<li><span class="titan">Zegatron</span> is incredibly powerful, but has the same hitpoints as any other unit. Be wary of spawning him in a vulnerable position</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faction-bloc">
		<h1 style="clear:left;">Hellspawn Units</h1>
		{% include unittemplate.html data=site.data.hellspawn %}
		{% include unittemplate.html data=site.data.cerberus %}
		{% include unittemplate.html data=site.data.soulke %}
		{% include unittemplate.html data=site.data.puppet %}
		{% include unittemplate.html data=site.data.balzan %}
		<div class="unit-card-outer">
			<div class="unit-card">
				<div class="unit-top-bar" style="height:250px;">
				<div class="unit-basics">
					<div class="unit-class">Hellspawn Faction</div>
					<div class="unit-name">Hellspawn Notes</div>
					<div class="unit-basics-stats">[not a unit]</div>
				</div>
				</div>
				<div class="faction-strats">
					<div class="unit-ability">
						<div class="ability-header">
							<h3 class="passive">Mischief and Demons</h3>
							<div style="clear:both"></div>
						</div>
						The Hellspawn are destructive in a reckless and mischievous fashion. With no regard to safety, they like to be up in their opponents' faces and annoy them till someone gets...obliterated.
					</div>
					<div class="unit-ability">
						<div class="ability-header">
							<h3 class="passive">Strategy</h3>
							<div style="clear:both"></div>
						</div>
						<li>The Hellspawn rely on aggression and map presence rather than on bombardment. Bombardment is viable, if you capitalize on <span class="ally unit">Soul Keepers</span></li>
						<li><span class="passive ability">Soul Release</span> means some of a unit's value is in its death, making the long-term survival of individual units a lower priority than maximizing their effectiveness even if they die soon</li>
						<li>If you are having trouble surviving heavy bombardment, consider deploying <span class="ally unit">Puppets</span> for <span class="range ability">Implosion of Sorrow</span> to cover key units</li>
						<li>Pay attention to 'Active Supply'. Sometimes it's beneficial to sacrifice a unit to secure initiative in the next round, especially since <span class="ally unit">Puppets</span> occupy twice the supply</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="printable">Make Printable</div>
